.input {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input h2 {
    font-weight: 300;
}

.input section {
    padding: 0px 20px;
    border-right: 1px solid rgba(255,255,255,.1);
    width: 310px;
    height: 305px;
}

.input section:last-child {
    border-right: none;
}

.color-picker-wrapper {
    display: flex;
    flex-direction: row;
}