.input-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input-wrapper h2 {
    font-weight: 300;
}

.input-wrapper section {
    padding: 0px 20px;
    border-right: 1px solid rgba(255,255,255,.1);
    width: 310px;
    height: 240px;
    padding-bottom: 20px;
}

.input-wrapper section:last-child {
    border-right: none;
    border-bottom: none;
}

.input-wrapper section select {
    padding: 10px;
    border: 2px solid white;
    font-family: 'Open Sans';
    background: none;
    color: white;
}

.color-picker-wrapper {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 980px) {
    .input-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .input-wrapper section {
        height: auto;
        border-right: none;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
}