@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');

html,body {
  background: #111;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}